ODP/WebContent/libs/*
ODP/WebContent/index.html
ODP/WebContent/style.min.css
ODP/WebContent/scripts.js
ODP/WebContent/partials
ODP/WebContent/tags
src/libs
ODP/WebContent/*.txt
.DS_Store
node_modules/*
public

