body {
	padding-top: 70px; /* support for navbar-fixed-top */
}
.navbar-nav.navbar-right:last-child {
	margin-right: inherit;
}

div[role=navigation] > span > span > span {
	padding: 0.5rem;
}